@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

header h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h6 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-contact {
    height: 125% !important;
    max-width: 125% !important;
}

.img-fluid {
    transition: transform .2s; 
}
 
.img-fluid:hover {
    transform: scale(1.1); 
}

